<div class="container-fluid header p-3" id="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <h2>EDIT EVENTS</h2>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                    <!--routerLink="/home"-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADD-EVENT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-sm bg-dark" id="form">
    <!--NAME-->
    <div class="row gy-sm-2 bg-dark">
        <div class="col-sm-4">
            <label class="col-form-label me-3">NAME</label>
        </div>
        <div class="col">
            <input [(ngModel)]="event.name" class="form-control" type="text">
        </div>
    </div>
    <!--DATE-->
    <div class="row gy-2 bg-dark">
        <div class="col-sm-4">
            <label class="col-form-label">DATE</label>
        </div>
        <div class="col">
            <input [(ngModel)]="event.date" class="form-control" type="text">
        </div>
    </div>
    <!--TIME-->
    <div class="row gy-2 bg-dark">
        <div class="col-sm-4">
            <label class="col-form-label">TIME</label>
        </div>
        <div class="col">
            <input [(ngModel)]="event.time" class="form-control" type="text">
        </div>
    </div>
    <!--VENUE-->
    <div class="row gy-2 bg-dark">
        <div class="col-sm-4">
            <label class="col-form-label">VENUE</label>
        </div>
        <div class="col">
            <input [(ngModel)]="event.venue" class="form-control" type="text">
        </div>
    </div>
    <!--body-->
    <div class="row gy-2 bg-dark">
        <div class="col-sm-4">
            <label class="col-form-label">NAME</label>
        </div>
        <div class="col">
            <input [(ngModel)]="event.body" class="form-control" type="text">
        </div>
    </div>
    <!--DESCRIPTION-->
    <div class="row">
        <div class="col-sm-4">
            <label class="col-form-label">DESCRIPTION</label>
        </div>
        <div class="col">
            <textarea [(ngModel)]="event.description" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" (click)="submit()">SUBMIT</button>
    <button class="btn btn-danger" (click)="delete()">DELETE</button>
</div>
<div class="container-fluid" id="footer"></div>